/* INPUT BOX */
.editor-tools input {
	background-color: #ebeef3;
	border-radius: 1.75rem;
	border: none;
	height: var(--m-editor-button-size);
	font-size: clamp(1vw, 1em, 3vw);
	width: 80%;
	padding-inline-start: 50px;
	border: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
}

@media screen and (min-width: 630px) {
	.editor-tools input {
		height: var(--l-editor-button-size);
	}
}

.editor-tools input:focus {
	outline: 3px solid #19a59f;
}

/* INPUT BUTTONS */
.editor-tools .btn-editor {
	width: var(--m-editor-button-size);
	height: var(--m-editor-button-size);
	font-size: var(--m-editor-font-size);
	color: white;
	border: none;
	border-radius: 10px;
}

@media screen and (min-width: 630px) {
	.editor-tools .btn-editor {
		width: var(--l-editor-button-size);
		height: var(--l-editor-button-size);
		font-size: var(--l-editor-font-size);
	}
}

.editor-tools .btn-switch-inputs {
	background-image: linear-gradient(-38deg, #66c4dc 0%, #0c98bb 100%);
	box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.editor-tools .btn-add-input {
	background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
	box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}

.editor-tools .btn-delete-input {
	background-image: linear-gradient(-38deg, #cf1d37 0%, #f05036 100%);
	box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
}
